* { 
    margin: 0 !important;
    padding: 0 !important;
}

body {
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;  
    justify-content: center;  
}

#background_img {
    width: 800px;
}

#board {
    width: 800px;
    height: 800px;
    position: relative;
    display: flex;
    align-items: center;  
    justify-content: center; 
    background-color: white;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 6%;
}

.button {
    width: 6.2%;
    height: 6.2%;
    position: absolute;
    border-radius: 50%; 
    border: solid rgba(245, 245, 245, 0.822);
    border-width: 5px;
    box-sizing: border-box;
    z-index: 0;
}

.select {
    border: solid 2px rgba(0, 0, 0, 0.808) !important;
}

.button_green {
    left: calc(50% - var(--valueLevel_green));
    top: calc(50% - var(--valueUp_green));
    
    background-color: rgb(3, 196, 3);
}


.button_red {
    left: calc(50% - var(--valueLevel_red));
    top: calc(50% - var(--valueUp_red));
    
    background-color: red;
}

.button_blue {
    left: calc(50% - var(--valueLevel_blue));
    top: calc(50% - var(--valueUp_blue));
    
    background-color: rgb(98, 43, 226);
}

.button_yelow {
    left: calc(50% - var(--valueLevel_yelow));
    top: calc(50% - var(--valueUp_yelow));
    
    background-color: goldenrod;
}

#navbar {
    width: 200px;
    height: 800px;
    border-left: solid 1px grey;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: ghostwhite;
}

#draw {
    width: 50px;
    height: 50px;
    border: solid gray;
    border-radius: 20%;

    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    /* transform: rotate(0deg); */
}

.clickable {
    border: solid gold;
}
.clickable:hover {
    border: solid silver !important;
    cursor: pointer;
}

.line {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.number {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}

#players {
    width: 120px;
    height: 120px;
    border: solid gray;
    border-radius: 10%;

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    grid-template-rows: repeat(2, 1fr);    /* 2 linhas */
    place-items: center; 
    gap: 10px;
}

.player_inactive {
    background-color: rgba(128, 128, 128, 0.788) !important;
}
.current_player {
    border: solid gold !important;
}

.player_button {
    width: 40px;
    height: 40px;
    border: solid gray;
    border-radius: 50%;    
}

#startButton {
    width: 120px;
    height: 30px;
    border: solid gray;
    border-radius: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
}
